@import '../scss/variables.scss';
.admin-nav {
  margin-top: 15px;
  .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    width: 25%;
  }
  .nav-item {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
  }
  a {
    padding: 5px;
    background: $red;
    color: $white;
    text-decoration: none;
    &:hover {
      background: lighten($red, 10%);
    }
  }
}
