@import '../scss/variables.scss';

.footer {
  height: 100%;
  padding: 15px;
  background: $footer-color;
  // display: flex;
  // justify-content: flex-end;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  a {
    .logo-footer {
      height: 60px;
      // margin-right: 5%;
    }
  }
}
