// BACKGROUNDS
$nextEvent-bg: white;
$bg-omos: white;
$bg-sponsor: white;
$footer-color: rgb(47, 47, 47);
$eventContainer: rgb(230, 229, 229);

// BORDERS
$border-white: 1px solid white;
$border-black: 1px solid black;

// SPONSOR BG's
$gold-spons: gold;
$silver-spons: silver;
$ordinary-spons: white;

// BOXSHADOW
$box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.75);

// MAIN COLORS
$gray: rgb(65, 65, 65);
$red: rgb(203, 64, 71);
$white: white;

// mediaQueries
$break-small: 320px;
$break-large: 1200px;
